:root{
    --imgpos: 0.5%;
    --imgposneg: -15%;
}

body{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Verdana;
    overflow-x: hidden;
    text-align: center;
    word-wrap: break-word;
    font-size: 150%;
    margin: 0;
    padding: 0;
    color: white;
}

.mainpage{
    background-image: url(images/background.png);
}

.hiddenpage{
    width: 100vw;
    height: 100vh;
    background-image: url(images/hidden/background.gif);
    /* background: rgb(31, 31, 31); */
}

/* HEADER AND FOOTER */

header, footer{
    z-index: 1;
    backdrop-filter: blur(0.5vh);
    font-size: 3vh;
    padding: 0.5% 0.5%;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    position: fixed;
    animation: popin 1s;
}

header{
    top: 0;
    border-bottom: 0.2vw rgba(255, 255, 255, 0.3) solid;
}

footer{
    bottom: 0;
    border-top: 0.2vw rgba(255, 255, 255, 0.3) solid;
}

footer a{
    display: contents;
    text-decoration: none;
    display: none;
}

footer p{
    margin: 0;
}

/* MAIN PAGE */

a{
    color: white;
    display: contents;
}

a:hover{
    text-decoration: none;
}

.maintext{
    opacity: 25%;
    width: 75%;
    margin-top: 10%;
    margin-bottom: -8%;
    margin-bottom: 15%;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

.maintext h1, .maintext p{
    margin-top: 10%;
    margin-bottom: -8%;
    padding: 20px 20px;
    animation: textintro 0.5s both;
    animation-delay: calc(var(--order) * 100ms);
}

.maintext p{
    border: rgba(255, 255, 255, 0.5) solid 0.5vh;
    text-align: left;
    text-wrap: pretty;
    backdrop-filter: blur(0.5vh);
}

.maintext:hover{
    opacity: 100%
}

.images{
    position: fixed;
    top: 7.5%;
    width: 10%;
    height: 85%;
    background-size: 100% 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

a .images:nth-child(1){
    animation: intimg1 1s ease-out, changeimg1 10s ease-in-out infinite;
    right: var(--imgpos);
    animation-delay: 5s;
}

a .images:nth-child(2){
    animation: intimg2 1s ease-out, changeimg2 10s ease-in-out infinite;
    left: var(--imgpos);
    animation-delay: 5s;
}

@keyframes intimg1{
    0%{
        right: var(--imgposneg);
    }
    100%{
        right: var(--imgpos);
    }
}

@keyframes intimg2{
    0%{
        left: var(--imgposneg);
    }
    100%{
        left: var(--imgpos);
    }
}

@keyframes changeimg1{
    0%{
        background-image: url(images/slide/1.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(images/slide/1.jpg);
        background-size: cover;
        right: var(--imgpos);
    }
    45%{
        background-image: url(images/slide/2.jpg);
        background-size: cover;
        right: var(--imgposneg);
    }
    50%{
        background-image: url(images/slide/2.jpg);
        background-size: cover;
        right: var(--imgpos);
    }
    90%{
        background-image: url(images/slide/2.jpg);
        background-size: cover;
        right: var(--imgpos);
    }
    95%{
        background-image: url(images/slide/1.jpg);
        background-size: cover;
        right: var(--imgposneg);
    }
    100%{
        background-image: url(images/slide/1.jpg);
        background-size: cover;
        right: var(--imgpos);
    }
}
@keyframes changeimg2{
    0%{
        background-image: url(images/slide/3.jpg);
        background-size: cover;
    }
    40%{
        background-image: url(images/slide/3.jpg);
        background-size: cover;
        left: var(--imgpos);
    }
    45%{
        background-image: url(images/slide/4.jpg);
        background-size: cover;
        left: var(--imgposneg);
    }
    50%{
        background-image: url(images/slide/4.jpg);
        background-size: cover;
        left: var(--imgpos);
    }
    90%{
        background-image: url(images/slide/4.jpg);
        background-size: cover;
        left: var(--imgpos);
    }
    95%{
        background-image: url(images/slide/3.jpg);
        background-size: cover;
        left: var(--imgposneg);
    }
    100%{
        background-image: url(images/slide/1.jpg);
        background-image: url(images/slide/3.jpg);
        background-size: cover;
        left: var(--imgpos);
    }
}

@keyframes textintro{
    0%{
        opacity: 0%;
        margin-bottom: -5%;
    }
    100%{
        opacity: 100%;
        margin-bottom: -8%;
    }
}

@keyframes popin{
    0%{
        height: 0;
        font-size: 0;
    }
    100%{
        font-size: 3vh;
        height: 3.6vh;
    }
}

@media (max-width: 492px){
    .maintext h1{
        font-size: 140%;
    }
}

@media (pointer:none), (pointer:coarse) {
    .maintext {
        opacity: 100%;
    }
    .images{
        display: none;
    }
    footer a{
        display: block;
    }
    footer p{
        display: none;
    }
}